<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Instaclone</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        
        <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/common.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/4.png" />
    </head>
    <body>
        <nav style="margin-bottom: 40px;border-bottom: 1px solid lightgrey; overflow: visible;" class="navbar fix-top navbar-expand-sm navbar-light  xtrnav ">
            <div style="height: 40px;" class="container">    
                <div class="navbar-header  logohw">
                    <a href="/feed">Instaclone</a>
                </div>
                
                    <ul class="navbar-nav mr-auto navbar-center ">  
                        <li class="nav-item">
                            <a href="/feed" data-toggle="tooltip" title="feed" data-placement="bottom" class="fa fa-home navbarbtn" ></a>
                        </li>
                        <li class="nav-item">
                            <a href="/chat" data-toggle="tooltip" data-placement="bottom"  title="inbox" class="fa fa-paper-plane navbarbtn" ></a>
                        </li>  
                        <li class="nav-item">
                            <a href="/notification" data-toggle="tooltip" data-placement="bottom"  title="notification" class="fa fa-heart navbarbtn" ></a>
                            <% if(user.newnotifs!=0){ %><div style="display: inline-block; border: none; width: 5px;height: 5px; border-radius: 50%;background-color: red;color: white;font-size: 3px ;position: relative;left: -32px;top: 10px;" ></div> <% } %>
                        </li>
                        <li class="nav-item" <% if(user.newnotifs!=0){ %>style="margin-left: -13px ;" <% } %>>
                            <a href="/create" data-toggle="tooltip" data-placement="bottom"  title="create" class="fa fa-plus-circle navbarbtn" ></a>
                        </li>
                        <li class="nav-item">
                            <a href="/profile" data-toggle="tooltip" data-placement="bottom"  title="profile" style="padding: 8px;" >
                                <img src="<%= user.profpic %>" alt="profpic" class=" rounded-circle profpic" style=" margin-top: 10px;">
                            </a>   
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form action="">
                                <input name="search" type="text" id="search" class="searchinput" autocomplete="off"  placeholder="Search">
                                <div class="dropdown" style="z-index: 1;">
                                    
                                </div>
                                <button class="searchbtn">
                                    <i class="fa fa-search searchbtn"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
            </div>
        </nav>

        <span id='variableJSON' hidden>
            <%= JSON.stringify(names); %>
        </span>